<html>
  <head>
    <!-- Librerias y scripts iniciales de la pagina -->
      <script>
        window.$ = window.jQuery = require('../../libs/jquery.min.js');
      </script>
      
      <script src="../../layout.js" type="text/javascript"></script>
      <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../../models/database/database.js" type="text/javascript" ></script>
      <script type="text/javascript" src="../../models/nameoffice.js"></script>

      

      <script type="text/javascript">
          function verify_cashier(){
            if(exist_active_cashier('',0)){
               document.getElementById("cash_close").style.display = "block"
               document.getElementById("cash_open").style.display = "none"
            }else{
               document.getElementById("cash_close").style.display = "none"
               document.getElementById("cash_open").style.display = "block"
          }
            }
      </script>
  </head>

  <body>
  <!-- Contenido despues del navbar -->
    <!-- 
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index/index.html">lero lero</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ventas <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="../sales/newSale.html">Nueva Venta</a></li>
                <li><a href="../products/stock.html">Consulta de productos</a></li>
                <li><a href="">Anular Venta</a></li>
                <li><a href="../reports/daySales.html">Reporte de ventas</a></li>
                <li><a href="../sales/index.html">Todas Las Ventas</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="cash_open" data-toggle="dropdown" role="button" ariexpanded="false">Caja<span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a href="../cashier/opencashier.html">Abrir Caja</a></li>
                 <li><a href="../cashier/closecashier.html">Cerrar Caja</a></li>
               </ul>
          </li>

            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clientes <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="../users/newUser.html">Crear Ciente</a></li>
              <li><a href="../users/listusers.html">Modificar Cliente</a></li>
            </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuracion <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="../connectionERP/new.html">Almacen
                </a></li>
                <li><a href="../synchronization/daily.html">Conexion Diaria</a></li>
                <li><a href="../synchronization/synchronization.html">Sincronizacion Diaria-Coneccion</a></li>
                <li role="separator" class="divider"></li>
                        <li><a href="#" id="update">Sincronizar Productos </a></li>
                        <li><a href="#" id="update_employees">Sincronizar Empleados</a></li>
                        <li><a href="#" id="update_incomes">Sincronizar Ventas</a></li>
                        <li><a href="#" id="update_clientes">Sincronizar Clientes</a></li>
                        <li><a href="#" id="update_organisation">Sincronizar Organizacion</a></li>
              </ul>
            </li>

          </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuario</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="progressbardiv" class="progress progress-striped active" hidden="true">
    <div id="progressbar-2" class="progress-bar" style="transition-duration: 1s; -webkit-transition-duration1s; width: 45%">Cargando...</div>
  </div>
  <div class="alert alert-dismissible alert-success" id="alertMessage" hidden="true">
    <button type="button" class="close" data-dismiss="alert">×</button>
  </div>
 </div> -->

  </body>

  <footer>
    <!-- Scripts y librerias de la pagina -->
  </footer>

</html>
