<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>BonsaiPOS</title>
<script>
window.$ = window.jQuery = require('../../libs/jquery.min.js');
</script>
<script src="../../models/bill/generatorbill.js" type="text/javascript"></script>
<script src="../../models/database/database.js" type="text/javascript"></script>
<script src="../../models/passvar.js" type="text/javascript"></script>
<link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</script>
</head>
<body>

<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
    <h4 id="name_company"><strong></strong></h4>
    <p id="direction_company"></p>
    <p>Av. Libertador Bolivar Nro 1521</p>
    <p>Telef: 4416565 - 66</p>
    <p id="city_and_country"></p>
    <p>------------------------------</p>
    <p><strong>Factura</strong></p>
    <p id="nit_company"></p>
    <p id="bill_number"></p>
    <p id="authorization_number"></p>
    <p>------------------------------</p>
    <p><strong>Actividad Economica</strong></p>
    <p id="date_of_sale"> </p>
    <p id="buyer_name"></p>
    <p id="buyer_nit"></p>
    <p>------------------------------</p>
    <table id="detail_of_sale_table" class="table">
      <tr>
        <td>CANT</td>
        <td>CONCEPTO</td>
        <td>PRECIO</td>
        <td>TOTAL</td>
      </tr>
    </table>
    <p align="right">----------------</p>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="left">IMPORTE TOTAL Bs.</div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="total_of_sale" style="text-align:right;"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="left">DESCUENTO Bs. </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="disccount" style="text-align:right;">0.00</div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
    <br>
    <p align="right">---------------</p>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">TOTAL Bs. </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:right;">0.00</div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">PAGADO Bs. </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="total_of_buyer_gave" style="text-align:right;"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Cambio Bs. </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="change" style="text-align:right;">0.00</div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
    <br>
    <p id="literal_number"></p>
    <p id="secure_code">Codigo de Control: </p>
    <p id="seller">Vendedor: </p>
  </div>
</div>


<form>
  <div id="noprint"><input type='button' onclick='window.print();' value='Imprimir' /></div>
</form>
<script language="JavaScript">

  get_initial_data();

function doPrint(){
  document.all.item("noprint").style.visibility='hidden';
  window.print();
  document.all.item("noprint").style.visibility='visible';
}

  //Generamos la cabecera de la factura
  // document.write(get_name_company());
  // document.write("<br>");
  // document.write(get_direction_company());
  // document.write("<br>");
  // document.write(get_city_and_county());
  // document.write("<br>");

  //Generamos datos de facturacion de la empresa
  // document.write("NIT: "+ get_nit_company());
  // document.write("<br>");
  // document.write("FACTURA: "+ get_number_bill());
  // document.write("<br>");
  // document.write("AUTORIZACION: "+ get_number_of_authorization());
  // document.write("<br>");

  //Generamos datos de facturacion del cliente
  // document.write("FECHA: "+ get_date_of_sell());
  // document.write("<br>");
  // document.write("NOMBRE: "+ get_name_buyer());
  // document.write("<br>");
  // document.write("NIT: "+ get_nit_buyer());
  // document.write("<br>");

  //Generamos detalle de venta
  // var detail = get_detail_of_sale();
  // document.write("Cant    Descripcion   Unit    Importe");
  // document.write("<br>");
  // for(var i = 0; i < detail.length; i++)
  // {
  //   document.write(detail[i].quantity + " " + detail[i].name + " " + detail[i].price + " " + detail[i].price*detail[i].quantity);
  //   document.write("<br>");
  // }

  //Generamos total de venta, el dinero recibido, el cambio recibido y el total en literal
  // document.write("TOTAL A PAGAR: "+ get_total_of_sale());
  // document.write("<br>");
  // document.write("EFECTIVO: "+ get_total_of_money_buyer_gave());
  // document.write("<br>");
  // document.write("CAMBIO: "+ get_change());
  // document.write("<br>");
  // document.write("SON: "+ get_literal_number(get_total_of_sale()));
  // document.write("<br>");
  //Generamos código de control y fecha límite de edición
  // document.write("CODIGO DE CONTROL: "+ get_secure_code());
  // document.write("<br>");
  //Generamos cosas extra




  generatebill();
</script>
</body>
</html>
