<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>BonsaiPOS</title>
<script>
window.$ = window.jQuery = require('../../libs/jquery.min.js');
</script>
<script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../models/database/database.js" type="text/javascript"></script>
<script src="../../layout.js" type="text/javascript"></script>

<script type="text/javascript">
function verify_cashier(){
  if(exist_active_cashier('\\views\\users',2)){
     document.getElementById("cash_close").style.display = "block"
     document.getElementById("cash_open").style.display = "none"
  }else{
     document.getElementById("cash_close").style.display = "none"
     document.getElementById("cash_open").style.display = "block"
  }
}
</script>
</head>

<body onload="verify_cashier()">
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../../index.html">BonsaiPOS</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Productos <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="../products/stock.html">Stock</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Venta <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="../sales/newSale.html">Nueva Venta</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Reportes <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="../reports/daySales.html">Ventas del dia</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="cash_open" data-toggle="dropdown" role="button" aria-expanded="false">Caja<span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a href="../cashier/opencashier.html">Abrir Caja</a></li>
               </ul>
            </li>

            <li class="dropdown">
             <a href="#" class="dropdown-toggle" id="cash_close" data-toggle="dropdown" role="button" aria-expanded="false">Caja<span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                <li><a href="../cashier/closecashier.html">Cerrar Caja</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Sincronizar <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="update">Sincronizar Productos </a></li>
                <li><a href="#" id="download"></a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Cliente <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="newUser.html">Nuevo cliente</a></li>
                <li><a href="listusers.html">Lista clientes</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuario</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../connectionERP/new.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <script>document.write(get_data_nameoffice('\\views\\users',2));</script></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="progressbardiv" class="progress progress-striped active" hidden="true">
        <div id="progressbar-2" class="progress-bar" style="transition-duration: 1s; -webkit-transition-duration: 1s; width: 45%">Cargando...</div>
      </div>
      <div class="alert alert-dismissible alert-success" id="alertMessage" hidden="true">
        <button type="button" class="close" data-dismiss="alert">×</button>
      </div>
    </div>
 -->





  <div class="container">
    <h5>
        <div align="right">
    <script type="text/javascript">
      function makeArray() {
      for (i = 0; i<makeArray.arguments.length; i++)
      this[i + 1] = makeArray.arguments[i];}
      var months = new makeArray('Enero','Febrero','Marzo','Abril','Mayo',
      'Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre');
      var date = new Date();
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var yy = date.getYear();
      var year = (yy < 1000) ? yy + 1900 : yy;
      document.write(day + " de " + months[month] + " del " + year);
      </script>
      <script type="text/javascript">
      function startTime(){
      today=new Date();
      h=today.getHours();
      m=today.getMinutes();
      s=today.getSeconds();
      m=checkTime(m);
      s=checkTime(s);
      document.getElementById('reloj').innerHTML=h+":"+m+":"+s;
      t=setTimeout('startTime()',500);}
      function checkTime(i)
      {if (i<10) {i="0" + i;}return i;}
      window.onload=function(){startTime();}
    </script>
    </div>
    </h5>
    <h6>
    <div align="right" id="reloj" style="font-size:20px;"></div>
    </h6>

    <div class="alert alert-dismissible alert-success" id="alertMessage" hidden="true">
      <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
    <h1 align="center">Nuevo Cliente</h1><br/>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form>
        <label>Nombre:</label>
        <input type="text" class="form-control" id="name-field"><br>
        <label>Apellido:</label>
        <input type="text" class="form-control" id="lastname-field"><br>
        <label>CI:</label>
        <input type="text" class="form-control" id="ci-field"><br>
        <center><input type="submit" class="btn btn-success" id="btn-new-user"value="Agregar Cliente"></center>
      </form>
    </div>
  </div>

  <!-- Modal Danger -->
    <div class="modal" id="myDangerModal" role="dialog">
      <div class="modal-dialog">
        <div class="alert alert-danger modal-content " role="alert">
          <div class="modal-header">
            <h3 class="modal-title"><span class="label label-danger" id="modalTitleMessageDanger">ERROR, por favor verfique los datos ingresados</span></h3>
          </div>
          <div class="modal-body" id="modalBodyMessageDanger">
          </div>
          <div class="modal-footer">
            <button id="btn_cancelAndAccept" type="button" class="btn btn-danger" data-dismiss="modal" >Aceptar</button>
          </div>
        </div>
      </div>
    </div>

</body>

<footer>
  <!-- Scripts y librerias de la pagina -->
</footer>

</html>
