<!-- Aquí se hace la apertura de caja -->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>BonsaiPOS</title>
<script>
window.$ = window.jQuery = require('../../libs/jquery.min.js');
</script>
<link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript">
function verify_cashier(){
  if(exist_active_cashier('\\views\\cashier',2)){
     document.getElementById("cash_close").style.display = "block"
     document.getElementById("cash_open").style.display = "none"
  }else{
     document.getElementById("cash_close").style.display = "none"
     document.getElementById("cash_open").style.display = "block"
  }
}
</script>
</head>

<body onload="verify_cashier(); apertura_cashier()">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../../index.html">BonsaiPOS</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Venta <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="../sales/newSale.html">Nueva Venta</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Reportes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="../reports/daySales.html">Ventas del dia</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="cash_open" data-toggle="dropdown" role="button" aria-expanded="false">Caja<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               <li><a href="#">Abrir Caja</a></li>
             </ul>
          </li>

          <li class="dropdown">
           <a href="#" class="dropdown-toggle" id="cash_close" data-toggle="dropdown" role="button" aria-expanded="false">Caja<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
              <li><a href="views/cashier/closecashier.html">Cerrar Caja</a></li>
            </ul>
          </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Productos <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" id="update">Sincronizar Productos </a></li>
                <li> <a href="#" id="download"></a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Cliente <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="../users/newUser.html">Nuevo cliente</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuario</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!--<script type="text/javascript">
    create_cashier(123);
</script>-->

  <div class="container">
    <div class="alert alert-dismissible alert-success" id="alertMessage" hidden="true">
      <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
   <h1 align="center">Abrir Caja</h1><br/>
    <div class="col-md-3"></div>
     <div class="col-md-6">
     <form id="form1">
        <!--<label>Ultimo Cierre:</label>
        <input type="text" class="form-control" id="ultimocierre"><br>-->
        <label>Monto de Apertura:</label>
        <input type="text" class="form-control" id="money"><br>
        <center><button class="btn btn-success">Abrir Caja</button></center>
      </form>
    </div>
   </div>
  </div>

</body>
<script src="../../models/database/database.js" type="text/javascript"></script>
<script src="../../models/cashier/cashier.js" type="text/javascript"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
